<%- include('../partials/head'); %>

<%- include('../partials/header'); %>
<form action="/envioimg" method="post" id="form" enctype="multipart/form-data" >
    <input type="file" name="file" >
<button type="submit" >enviar</button>
</form>
<script src="js/Admin/comunicado.js"></script>
<%- include('../partials/footer'); %>