
<%-include('../partials/headerdash')%>
<div id="titulo" style="text-align: center;"></div>
<div id="dashboard" ></div>

<script type="module" src="/js/Admin/dashpersonalizado.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<%-include('../partials/footer')%>
