
<%-include('../partials/headerdash')%>
<% let P = P_USU.P_USU %>
<% let D = P[0] %>
<div id="dashboard"></div>
<script type="module" src="/js/Admin/dashpersonalizado.js"></script>
<%-include('../partials/footer')%>
