<%- include('../partials/head'); %>
<div class="container">
    <div class="row" >
        <div class="col-sm-3">
        <button class="btn btn-info mt-2" id="Atualizar">Atualizar</button>
        </div>
    </div>

 <div style="display: block;">
    <%- include('../components/exporta.ejs');%>
    <table class="table table-hover mt-2" id="monitor">
        <thead>
            <tr> 
                <td>ID</td>
                <td>Usuário</td>
                <td>Dt. entrada</td>
                <td>Navegador</td>
                <td>IP</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
 </div>

</div>

<script type="module" src="/js/Admin/monitorsessao.js"></script>
<%- include('../partials/footer'); %>