<meta charset="UTF-8">
<title>Horus</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
 <link rel="shortcut icon" href="/img/logo-triangular (3).png" type="image/x-icon">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

<style>
    body { padding-top:20px; }
</style>
<body>
    

<div class="container">
    