<div class="modal fade" id="ModalLongoExempl" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalLongoExemplo">Seus acessos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- CADASTROS -->
          <p>
            <a class="btn btn-info form-control" data-toggle="collapse" href="#Cadastros" role="button" aria-expanded="false" aria-controls="Cadastros">Cadastros</a>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="Cadastros">
                <div class="card card-body" id="Cadastros1">
                 Cadastros
                </div>
              </div>
            </div>
          </div>
          <!-- COMPRAS -->
          <p>
            <a class="btn btn-info form-control mt-2" data-toggle="collapse" href="#Compras" role="button" aria-expanded="false" aria-controls="Compras">Compras</a>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="Compras">
                <div class="card card-body"  id="Compras2">
                 Compras
                </div>
              </div>
            </div>
          </div>
          <!-- Relatorios personalizados -->
        <p>
          <a class="btn btn-info form-control mt-2" data-toggle="collapse" href="#RelatoriosConfigurados" role="button" aria-expanded="false" aria-controls="RelatoriosConfigurados">Relatorios Configurados</a>
        </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="RelatoriosConfigurados">
                <div class="card card-body" id="RelatoriosConfigurados8">
                  RelatoriosConfigurados
                </div>
              </div>
            </div>
          </div>
          <!-- Administração -->
        <p>
          <a class="btn btn-info form-control mt-2" data-toggle="collapse" href="#Administracao" role="button" aria-expanded="false" aria-controls="Administracao">Administração</a>
        </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="Administracao">
                <div class="card card-body" id="Administracao7">
                  Administração
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>