<div  style="display: flex;justify-content: flex-start;align-items: center;" >
<caption >
    <div class="barratarefa  ExportaPdf PermiteExportar"><img src="/img/pdf.png" alt=""> </div>
    <div class="barratarefa  ExportaXlsx PermiteExportar"><img src="/img/xlsx.png" alt=""></div>
    <div class="barratarefa Count" style="min-width:60px;background-color: rgb(146, 144, 144);height: 60px;margin-bottom: 10px;">00</div>
</caption>
</div> 