<div class="caption alert-secondary" style="display: flex;justify-content: flex-end;align-items: center;" ><caption >
    <div class="barratarefa alert-danger ExportaPdf">PDF </div>
    <div class="barratarefa alert-info ExportaCsv">CSV</div>
    <div class="barratarefa Count" style="min-width:40px;background-color: rgb(146, 144, 144);margin-bottom: 15px;">00</div>
</caption></div> 