<label for=""><%= NameLabel %> <img src="/img/lupa.png" alt="" style="cursor: pointer;"></label>
<div style="display: flex; flex-direction: row;">
    <input type="number" required name="<%= NameTddcam %>" style="width: 30%;margin-right: 8px;" class="form-control TddCam">
    <input type="text"  class="form-control">
</div>


