<p><span class="mt-2">Grupo</span></p>
<div style="display: flex; flex-direction: row;">
 <input type="text" required  id="ID_GRUPO" style="width: 100px;margin-right: 8px;" class="form-control mt-2" placeholder="Cod. grupo">
 <input type="text" required  id="NOME_GRUPO" class="form-control mt-2 " placeholder="Grupo" >
</div>