<% result.forEach(U=>{ %>

    <p><span class="mt-2">Grupo</span></p>
    <div style="display: flex; flex-direction: row;">
     <input type="text" required value="<%=U.ID_GRUPO%>"  id="ID_GRUPO" style="width: 150px;margin-right: 8px;" class="form-control mt-2">
     <input type="text" readonly value="<%=U.NOME_GRUPO%>"  id="NOME_GRUPO" class="form-control mt-2 " placeholder="Grupo" >
    </div>
 

<%})%>

