<% result.forEach(U=>{ %>

<p><span class="mt-2">Grupo</span></p>
<div style="display: flex; flex-direction: row;">
 
 <select id="ID_GRUPO"  required  class="form-control mt-2 ">
 <option value="">Selecione um grupo</option>
 </select>

<%})%>
