<p><span class="mt-2">Parceiro</span></p>
<div style="display: flex; flex-direction: row;">
 <input type="number" required id="ID_PARC" style="width: 150px;margin-right: 8px;" class="form-control mt-2 insert" placeholder="Cod. parceiro">
 <input type="text"  id="PARC_NOME" class="form-control mt-2 insert" placeholder="Nome do parceiro" >
</div>