
<% result.forEach(U=>{ %>

<p><span class="mt-2">Parceiro</span></p>
<div style="display: flex; flex-direction: row;">
 <input type="text" required id="ID_PARC" value="<%=U.ID_PARC%>" style="width: 100px;margin-right: 8px;" class="form-control mt-2 insert" placeholder="Cod. parceiro">
 <input type="text" required  id="PARC_NOME" value="<%=U.PARC_NOME%>" class="form-control mt-2 insert" placeholder="Nome do parceiro" >
</div>
<%})%>
