<% let D = P_USU.P_USU %>

<button class="btn btn-danger" type="button" id="DELETA"   data-toggle="modal" <% if (D[1] == 'N') { %> disabled <% } %> >Deletar</button>

<button id="SALVA"   style="position: absolute;bottom: 30px;right: 30px;" class="btn btn-warning mt-3">Salvar</button>