<% let D = P_USU.P_USU %>

<button class="btn btn-danger" type="button" id="DELETA"   data-toggle="modal" <% if (D[1] == 'N') { %> disabled <% } %> >Deletar</button>

<button id="SALVA"   class="btn btn-warning">Salvar</button>