<% let P = P_USU.P_USU %>
<% let D = P[0] %>
<!-- Verificando se usuario altera -->
<button  <% if (D.ALTERA === 'N') { %>  disabled  <% }  %>  id="SALVA"  class="btn btn-warning">Salvar</button>
<!-- Verificando se usuario deleta -->
<button class="btn btn-danger" <% if (D.DELETA === 'N') { %>  disabled <% } %>type="button" id="DELETA"   data-toggle="modal" >Deletar</button>

