<% result.forEach(U=>{ %>

<p><span class="mt-2">Código usuário</span></p>
<input type="text" id="ID_USU" value="<%=U.ID_USU%>"  style="width: 100px;" class="form-control mt-2 insert"  >
<p><span class="mt-2">Usuário</span></p>
<input type="text" id="USU_NOME" value="<%=U.USU_NOME%>"  class="form-control mt-2 insert" placeholder="Nome de usuario" required>

<%})%>
