<% result.forEach(U=>{ %>

<p><span class="mt-2">Vendedor</span></p>
<div style="display: flex; flex-direction: row;">
 <input type="text" required id="ID_VENDEDOR" value="<%=U.ID_VEND%>" style="width: 150px;margin-right: 8px;" class="form-control mt-2 insert" placeholder="Cod. vendedor">
 <input type="text" readonly id="VND_NOME"  value="<%=U.VND_NOME%>" class="form-control mt-2 insert" placeholder="Nome do vendedor" >
</div>

<%})%>

