<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Há pendencias com o certificado da aplicação,por favor verificar sua licença</p>
    <h3>Ápos 15 segundos você será redirecionado para sua rota <%=url%></h3>
    <p><%=menssage%></p>
</body>
</html>