<%-include('../partials/head')%>
<% let P = P_USU.P_USU %>
<% let D = P[0] %>
<!--  -->
<div class="modal fade PRINCIPAL" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl" style="width: 500px;">
      <div class="modal-content">
        <form class="needs-validation" id="form" novalidate>
          <div class="container" style="padding: 40px;" >
              <div class="row">
                <p>Preço por produto</p>
                <label for="">Produto</label>
                <div style="display: flex; flex-direction: row;">
                    <input type="text" required id="CODPROD_"  name="COD_PROD" style="width: 90px;margin-right: 8px;" class="form-control TddCam">
                    <input type="text" required  id="NOMEPROD" class="form-control  " placeholder="Produto" >
                </div>
                <div class="col-sm"  >
                    <label >Preço</label>
                   <input type="text" class="form-control TddCam"  name="PRECO" required>
                </div>

              </div>
          
              </div>
              <button style="margin-left: 40px;" id="Salvar" type="submit" class="btn btn-warning ">Salvar</button>
          </form>

     </div>

          
      </div>
    </div>
  </div>
  <!--editar registro-->
<div class="modal fade EDITAR" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-xl" style="width: 500px;">
    <div class="modal-content">
      <form class="needs-validation"  novalidate>
        <div class="container" style="padding: 40px;" >
       <p>Alteração por produto</p> 
            <div class="row">
              <div class="col-sm"  >
                <label for="">Produto</label>
                 <div style="display: flex; flex-direction: row;">
                    <input type="text"  id=""  style="width: 90px;margin-right: 8px;" class="form-control" >
                    <input type="text"   id="" class="form-control  " placeholder="Produto" >
                </div>
                  <label for="">Preço</label>
                 <input type="text" class="form-control"  required>
              </div>
            </div>
            </div>
            <% if (D.ALTERA == 'N') { %> 
              <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" disabled  >Salvar</button>
          <% }else{ %>
              <button style="margin-left: 40px;" id="SALVA_EDICAO"  class="btn btn-warning ">Salvar</button>

          <%}%> 
        </form>
          
    </div>
    <div class="modal-content">
      <form class="needs-validation" id="form_categoria" novalidate>
        <div class="container" style="padding: 40px;" >
            <div class="row">
                <p>Alteração por categoria</p>
              <div class="col-sm"  >
                  <label for="">Tipo alteração</label>
                <select name="TIPO"  class="form-control TddCam">
                    <option value="A" selected>Para mais</option>
                    <option value="D">Para menos</option>
                </select>
              </div>
              <div class="col-sm">
                <label for="">Percentual</label>
                <input type="text"  class="form-control TddCam" name="PERC" placeholder="00,00">
              </div>
              <label for="">Categoria de produto</label>
              <div style="display: flex; flex-direction: row;">
                  <input type="text"  id="COD_CAT_1"  style="width: 90px;margin-right: 8px;" name="COD_CAT" class="form-control TddCam" >
                  <input type="text"   id="NOME_CAT_1" class="form-control  " placeholder="Produto" >
              </div>
            </div>
            </div>
            <% if (D.ALTERA == 'N') { %> 
              <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" disabled  >Salvar</button>
          <% }else{ %>
              <button style="margin-left: 40px;" id="SALVA_EDICAO"  class="btn btn-warning ">Salvar</button>

          <%}%> 
        </form>
          
    </div>
        
    </div>
  </div>
</div>
<!--  -->
<div class="grad" style="display: flex;height: auto;padding: 30px;">
  <div style="width: 400px;height: 400px;">
   <form id="form_filtro">
<%let filtro = P_USU.T_FILTRO%> 

    <div class="form-group row">

        <div class="col-sm-12">
            <span >Cod. produto</span>
            <input type="number" id="COD_PROD_F"  class="form-control" placeholder="ID"  value="<%=filtro[0][0]%>">
        </div>
 
        <div class="col-sm-12">
            <span >Nome produto</span>
            <input type="text" id="DESC_PROD_F" class="form-control" placeholder="Descrição"  value="<%=filtro[0][1]%>">
        </div>

        <label for="">Categoria de produto</label>
        <div style="display: flex; flex-direction: row;">
            <input type="text"  id="COD_CAT"  style="width: 90px;margin-right: 8px;" class="form-control">
            <input type="text"   id="NOME_CAT" class="form-control  " placeholder="Produto" >
        </div>

    </div>

    <button class="btn btn-primary">Buscar</button>

   </form>
  </div>
  <!-- Tabela -->
  <div style="width: 100%;display: block;margin-left: 10px;">

    <table class="table table-hover" style="height: auto;width: 700px;">

      <thead>
          <tr>
              <th>Cod. tabela</th>
              <th>Produto</th>
              <th>Preço</th>
          </tr>
      </thead>
      <tbod>
          <!-- Dados sendo inseridos automaticamente -->
      </tbody>
    </table>
  </div>

</div>
<script type="module" src="/js/cadastro/tabeladepreco.js"></script>
<%-include('../partials/footer')%>