<%-include('../partials/head')%>
<% let P = P_USU.P_USU %>
<% let D = P[0] %>
<!--  -->
<div class="modal fade PRINCIPAL" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl" style="width: 500px;">
      <div class="modal-content">
        <form class="needs-validation" id="form" novalidate>
          <div class="container" style="padding: 40px;" >
              <div class="row">
                <label for="">Produto</label>
                <div style="display: flex; flex-direction: row;">
                    <input type="text" required id="CODPROD_"  name="COD_PROD" style="width: 90px;margin-right: 8px;" class="form-control TddCam">
                    <input type="text" required  id="NOMEPROD" class="form-control  " placeholder="Produto" >
                   </div>
                <div class="col-sm"  >
                    <label >Preço</label>
                   <input type="text" class="form-control TddCam"  name="PRECO" required>
                </div>
                <div class="col-sm"  >
                    <label >Validade</label>
                   <input type="date" class="form-control TddCam"  name="VALIDADE" required>
                </div>
              </div>
          
              </div>
              <button style="margin-left: 40px;" id="Salvar" type="submit" class="btn btn-warning ">Salvar</button>
            </div>
          
          </form>
      </div>
    </div>
  </div>
  <!--editar registro-->
<div class="modal fade EDITAR" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-xl" style="width: 500px;">
    <div class="modal-content">
      <form class="needs-validation"  novalidate>
        <div class="container" style="padding: 40px;" >
            <div class="row">
              <div class="col-sm"  >
                  <label for="">DESCRIÇÃO CAMPO</label>
                 <input type="text" class="form-control"   required>
                  <label for="">Descrição</label>
                 <input type="text" class="form-control"  required>
              </div>
            </div>
            </div>
            <% if (D.ALTERA == 'N') { %> 
              <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" disabled  >Salvar</button>
          <% }else{ %>
              <button style="margin-left: 40px;" id="SALVA_EDICAO"  class="btn btn-warning ">Salvar</button>

          <%}%> 
          </div>
        
        </form>
    </div>
  </div>
</div>
<!--  -->
<div class="grad" style="display: flex;height: auto;padding: 30px;">
  <div style="width: 300px;height: 400px;">
   <form>
<%let filtro = P_USU.T_FILTRO%> 

    <div class="form-group row">

        <div class="col-sm-10">
            <span >CAMPO DO FILTRO</span>
            <input type="number"  class="form-control" placeholder="ID"  value="<%=filtro[0][0]%>">
        </div>
 
        <div class="col-sm-10">
            <span >CAMPO DO FILTRO</span>
            <input type="text"  class="form-control" placeholder="Descrição" ME" value="<%=filtro[0][1]%>">
        </div>

    </div>

    <button id="filtro" class="btn btn-primary">Buscar</button>

   </form>
  </div>
  <!-- Tabela -->
  <div style="width: 100%;display: block;">

    <table class="table table-hover" id="Marca" style="height: auto;width: 700px;">

      <thead>
          <tr>
              <th>Nome coluna</th>
              <th>Descrição</th>
          </tr>
      </thead>
      <tbod>
          <!-- Dados sendo inseridos automaticamente -->
      </tbody>
    </table>
  </div>

</div>
<script type="module" src="/js/cadastro/tabeladepreco.js"></script>
<%-include('../partials/footer')%>